.contactDiv {
  height: 80vh;
}

.contactUsTittle {
  text-align: center;
  font: normal normal 800 35px/30px Nunito;
  letter-spacing: 0.21px;
  color: #0c2a4a;
  text-transform: capitalize;
  opacity: 1;
  margin-top: 5vh;
}

.contactHelp {
  text-align: center;
  font: normal normal 300 28px/30px Nunito;
  letter-spacing: 0.21px;
  color: #3c4852;
  /* text-transform: capitalize; */
  opacity: 1;
  margin-top: 2vh;
}

.contactTagline {
  text-align: center;
  font: normal normal normal 18px/30px Fira Sans;
  letter-spacing: 0px;
  color: #3c4852;
  opacity: 1;
  width: 43%;
  margin-left: 28%;
}
