.carousel-indicators [data-bs-target] {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  margin: 0 0.5vw;
}

.carousel-caption {
  top: 30% !important;
  text-align: center;
  width: 55vw;
  color: #ffffff;
  text-transform: capitalize;
  right: 25%;
  left: 25%;
}

.carousel-caption h1 {
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 4rem;
  letter-spacing: 0px;
}

.topLaunch {
  background: #f8f8f8 0% 0% no-repeat padding-box;
  padding-bottom: 1rem;
}

.newLaunch {
  background: #1a1c24 0% 0% no-repeat padding-box;
  padding-bottom: 1rem;
}

.topLaunchHeading {
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 4rem;
  padding: 1.5rem 0 0;
  color: #3c4852;
}

.newLaunchHeading {
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 4rem;
  padding: 1.5rem 0 0;
  color: white;
}

.newLaunchLine {
  background: #ff6a6a 0% 0% no-repeat padding-box;
  border-radius: 70px;
  height: 0.5rem;
  margin: 0 35vw;
  display: flex;
  justify-content: center;
}

.topLaunchSubHeading {
  text-align: center;
  letter-spacing: 0px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #303030;
  margin: 0 25vw;
}

.topLaunchCard {
  margin: 2rem 12vw;
  padding-bottom: 1rem;
  position: relative;
  background: rgba(245, 245, 245, 1) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px rgba(245, 245, 245);
  border-radius: 0px 0px 10px 10px;
}

.newLaunchCardDiv {
  display: flex;
  margin: 2rem 12vw;
}

.newLaunchCard {
  flex: 1.25;
  position: relative;
  background: rgba(245, 245, 245, 0.25) 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 1rem;
}

.newLaunchList {
  flex: 1;
}

.launchCardImg {
  width: 100%;
}

.newLaunchCardImg {
  width: 100%;
}

.topLaunchSubCard {
  margin: 0 1rem 0;
  padding-bottom: 1rem;
  background: rgba(255, 255, 255, 0.5) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #3a353529;
  border-radius: 0px 0px 10px 10px;
}

.topLaunchMainCard {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #3a353529;
  margin: 0 1rem 0;
  padding: 1rem 0 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

.blnkDiv {
  height: 1rem;
  width: 100%;
  background-color: white;
  top: -1rem;
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blankCircle {
  height: 3.5rem;
  width: 4vw;
  background: white;
  top: -2.5rem;
  border-radius: 50%;
  left: 0.75rem;
  z-index: 0;
  position: absolute;
  text-align: center;
}
.launchIcon {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0.2rem;
}

.launchCardHeading {
  text-align: left;
  font: normal normal 700 0.9rem/22px "Fira Sans", sans-serif;
  letter-spacing: 0px;
  color: #232323;
  opacity: 0.9;
  padding: 0 1vw;
}

.launchCardContent {
  font: normal normal 500 0.88rem/20px "Fira Sans", sans-serif;
  letter-spacing: 0px;
  color: #232323;
  opacity: 0.6;
  padding: 0 1vw;
  text-align: left;
}

.launchCardIconsDiv {
  padding: 0rem 1vw 0.75rem;
  display: flex;
  justify-content: space-between;
}

.newLaunchCardIconsDiv {
  padding: 0rem 0 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.launchCardFooter {
  padding: 0.5rem 1vw 0;
  margin-top: 1rem;
  text-align: right;
  border-top: 1px solid #aac3cb;
}

.launchCardFooter button {
  border: 2px solid #303030 !important;
  border-radius: 5px;
  background-color: white !important;
  text-align: left;
  font: normal normal 600 0.8rem/20px "Fira Sans", sans-serif;
  letter-spacing: 0px;
  padding: 0.5rem 0.5rem;
  color: #303030;
  opacity: 0.9;
}

.launchCardIcons {
  width: 35%;
  margin-top: -0.25rem;
  margin-right: 0.1rem;
}

.launchCardI {
  margin-right: 0.5vw;
  font: normal normal 500 0.75rem/22px "Fira Sans", sans-serif;
  letter-spacing: 0px;
  color: #aac3cb;
}

.iconBg {
  background: #efefef 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 3px #00000029;
  border-radius: 50%;
  width: 1vw;
  padding: 0.5vw;
  height: 2rem;
  margin-left: 0.25vw;
}

.newLIconBg {
  width: 0.5rem;
  padding: 0 0.125rem;
  height: 0.25rem;
  background: #efefef 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 3px #00000029;
  border-radius: 50%;
  margin-left: 0.125rem;
}

.loadMoreBtn {
  background: #6e5bd8 0% 0% no-repeat padding-box;
  border: 2px solid #6e5bd8;
  box-shadow: 0px 3px 8px #20308175;
  border-radius: 5px;
  font: normal normal 400 0.9rem/20px "Inter", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  padding: 0.5rem 1rem;
}

.trendingHeading {
  text-align: left;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 4rem;
  padding: 1.5rem 0 0;
  color: #3c4852;
  margin: 0 12vw;
  border-bottom: 0.125rem solid #3c4852;
}

.trendingCard {
  margin: 2rem 12vw;
  position: relative;
  display: flex;
}

.trendingCardImg1 {
  width: 35vw;
  background-image: url(../../Assets/Trending/83.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.trendingCardImg1:hover {
  background-size: 110% 110%;
}

.trendingCardImg2 {
  width: 35vw;
  background-image: url(../../Assets/Trending/jersey.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.trendingCardImg2:hover {
  background-size: 110% 110%;
}

.trendingCardImg3 {
  width: 35vw;
  background-image: url(../../Assets/Trending/Mismatched-Season-2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.trendingCardImg3:hover {
  background-size: 110% 110%;
}

.trendingCardImg4 {
  width: 35vw;
  background-image: url(../../Assets/Trending/Money-heist-season-5.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.trendingCardImg4:hover {
  background-size: 110% 110%;
}

.trendingCardImg5 {
  width: 35vw;
  background-image: url(../../Assets/webSeries/Money-heist-season-5.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.trendingCardImg5:hover {
  background-size: 110% 110%;
}

.trendingSubCard {
  width: 65vw;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #0000001a;
  border-radius: 8px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: -0.5vw;
  padding-top: 1rem;
}

.trendingCardHeading {
  text-align: left;
  font: normal normal 700 0.9rem/20px "Fira Sans", sans-serif;
  letter-spacing: 0px;
  color: #232323;
  opacity: 0.7;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}

.trendingFooter {
  padding: 0.5rem 1rem;
  text-align: right;
}

.trendingFooter button {
  border: none !important;
  background: #efefef 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 3px #00000029;
  border-radius: 8px;
  text-align: left;
  font: normal normal 600 0.8rem/20px "Fira Sans", sans-serif;
  letter-spacing: 0px;
  padding: 0.5rem 0.5rem;
  color: #3c4852;
}

.trendingIconsDiv {
  padding: 0rem 1rem 0.25rem;
  display: flex;
  justify-content: space-between;
  margin-right: 400px;
}

.trendingIcons {
  width: 33%;
  margin-top: -0.25rem;
  margin-right: 0.25rem;
}

.trendingI {
  font: normal normal 500 0.75rem/22px "Fira Sans", sans-serif;
  letter-spacing: 0px;
  color: #aac3cb;
}

.trendingSMDiv {
  display: flex;
  margin-top: 0.25rem;
  padding: 0rem 1rem 0;
  align-items: center;
  justify-content: space-between;
}

.trendingExpress {
  text-align: left;
  font: normal normal 600 0.7rem/17px "Fira Sans", sans-serif;
  letter-spacing: 0.42px;
  color: #ed2526;
}

.readMoreBtn {
  background: transparent 0% 0% no-repeat padding-box;
  border: 2px solid #303030;
  border-radius: 5px;
  font: normal normal 600 0.9rem/20px "Inter", sans-serif;
  letter-spacing: 0px;
  color: #303030;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.newLaunchList ul {
  padding-left: 1vw;
  height: 39rem;
  overflow: auto;
  margin: 0;
}

.newLaunchList ul::-webkit-scrollbar {
  display: none;
}

.newLaunchList ul li {
  list-style: none;
  color: white;
  display: flex;
  margin-bottom: 1.5rem;
}

.newLaunchListImg {
  flex: 1;
  width: 40%;
  height: 100%;
  margin-right: 0.5vw;
}

.newLaunchListContent {
  text-align: left;
  font: normal normal 500 0.85rem / 18px "Fira Sans", sans-serif;
  margin-bottom: 0.75rem;
}

.newLaunchCardI {
  margin-right: 0.25rem;
  font: normal normal 400 0.55rem / 22px "Fira Sans", sans-serif;
  letter-spacing: 0px;
  color: #aac3cb;
}

.newLaunchCardIcons {
  width: 35%;
  margin-top: -0.25rem;
  margin-right: 0.05rem;
}

.listingPageHeader {
  background: #5567ffcc 0% 0% no-repeat padding-box;
  padding: 2.5rem 6vw 2rem;
}

.listingHeaderHeading {
  text-align: left;
  font: normal normal medium 22px/27px "Fira Sans", sans-serif;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.listingHeaderSubHeading {
  text-align: left;
  font: normal normal 600 16px/22px "Fira Sans", sans-serif;
  letter-spacing: 0.13px;
  color: #ffffff;
  opacity: 0.6;
  margin-left: 0.75vw;
}

.listingHeaderContent {
  text-align: left;
  font: normal normal 300 14px/20px "Fira Sans", sans-serif;
  letter-spacing: 0.13px;
  color: #ffffff;
  opacity: 0.6;
}

.listingList {
  display: flex;
  flex-wrap: wrap;
  padding: 2.5rem 4vw 2rem;
}

.listingList .newLaunchCard {
  flex-basis: 21%;
  margin: 1rem 2vw;
}
.listingList .newLaunchCard .topLaunchSubCard {
  margin: 0;
  padding-bottom: 0.5rem;
}

.listingList .newLaunchCard .topLaunchMainCard {
  margin: 0 0.5vw 0;
  padding: 0.5rem 0 0.25rem;
}

.moviesDiv {
  margin: 0.5rem 6vw;
}

.movieInfoDiv {
  margin-top: 2.5rem;
  display: inline-flex;
  flex-direction: row;
}

.movieLogoDiv {
  flex: 1.5;
  margin-right: 2vw;
  height: 100%;
  box-shadow: 10px 10px 20px #4a272724;
  border-radius: 10px;
  overflow: hidden;
}

.movieContentDiv {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.movieRatingDiv {
  text-align: right;
}

.movieName {
  font: normal normal 600 32px/30px "Fira Sans", sans-serif;
  letter-spacing: 0.25px;
  color: #314351;
}

.categoryName {
  font: normal normal 600 14px/20px "Fira Sans", sans-serif;
  letter-spacing: 0.16px;
  color: #314351;
  flex: 2;
}

.categoryDesc {
  font: normal normal 300 14px/20px "Fira Sans", sans-serif;
  letter-spacing: 0.16px;
  color: #314351;
  flex: 5.5;
  white-space: pre-line;
}

.webSeriesDesc {
  font: normal normal 300 14px/20px "Fira Sans", sans-serif;
  letter-spacing: 0.16px;
  color: #314351;
}

.plotFactDiv {
  border: 0.5px solid #718c9559;
  border-radius: 10px;
  margin: 3rem 0;
}

.plotFactHeadDiv {
  border-bottom: 0.5px solid #718c9559;
  padding: 1rem 1.5vw 0.25rem;
  text-align: left;
  font: normal normal bold 22px/28px "Fira Sans", sans-serif;
  letter-spacing: 0px;
  color: #3c4852;
}

.plotFactContentDiv {
  padding: 1rem 1.5vw 1.5rem;
  font: normal normal 300 15px/21px "Fira Sans", sans-serif;
  letter-spacing: 0.16px;
  color: #314351;
}

.socialMediaLogo {
  border: 0.30000001192092896px solid #718c95;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  width: 10%;
}

.breadcrumb {
  font: normal normal normal 12px/17px "Fira Sans", sans-serif !important;
  letter-spacing: 0px;
  color: #314351 !important;
}
