.header {
  box-shadow: 0px 0.5px 3px #7a7ef1b5;
  background-color: white;
  display: flex;
  padding: 0.5rem 3vw;
  justify-content: space-between;
  position: sticky;
  z-index: 1;
  top: 0;
}

.logoDiv {
  text-align: center;
  width: 7vw;
}

.mainLogo {
  width: 3rem;
  cursor: pointer;
}

.subLogoHeading {
  font-size: 0.5rem;
  font-weight: bold;
  letter-spacing: 0px;
  color: #576772;
  margin: 0;
  text-align: center;
}

.subHeading {
  text-align: center;
  font-size: 0.35rem;
  letter-spacing: 0px;
  color: #566771;
  margin: 0.0125rem;
}

.navDiv {
  width: 43%;
  justify-content: start;
  margin-left: 1vw;
}

.searchDiv {
  width: 20vw;
  justify-content: start;
}

.buttonDiv {
  width: 25vw;
  justify-content: center;
}

.navDiv,
.searchDiv,
.buttonDiv {
  display: flex;
  align-items: center;
}

.navHeading {
  font-weight: 500;
  font-size: 1rem;
  font-family: "Open Sans" !important;
  letter-spacing: 0px;
  color: #3c4852;
  margin: 0 3vw 0 1vw;
  cursor: pointer;
  position: relative;
}

.buttonLaunch {
  background: #f9f9f9 0% 0% no-repeat padding-box !important;
  box-shadow: 3px 4px 10px #98929229 !important;
  border: 2px solid #8760d1;
  border-radius: 8px;
  font-weight: 400;
  font-size: 0.8rem;
  font-family: "Open Sans" !important;
  letter-spacing: 0px;
  padding: 0.5rem 1vw;
  color: #8460d1;
  display: flex;
  align-items: center;
}

.buttonLogin {
  background: #6e5bd8 0% 0% no-repeat padding-box !important;
  border: 2px solid #6e5bd8;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans" !important;
  letter-spacing: 0px;
  padding: 0.5rem 1rem;
  color: #fff;
  margin-left: 1vw;
  display: flex;
  align-items: center;
}

#businessNav:hover .navHeaderDropdown {
  display: block;
}

#cultureNav:hover .navHeaderDropdown {
  display: block;
}

.navHeaderDropdown {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px #414f675c;
  border-radius: 10px;
  position: absolute;
  top: 1.5rem;
  width: 30vw;
  display: none;
  z-index: 2;
}

.navHeaderDropdown ul {
  list-style: none;
  padding: 0 2vw;
  margin: 0;
}

.navHeaderDropdown li {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.navHeaderDropdown li p {
  font: normal normal 600 0.85rem/20px "Inter", sans-serif;
  letter-spacing: 0.12px;
  color: #3c4852;
  margin: 0;
}

.navHeaderDropdown li span {
  font: normal normal 400 0.75rem/8px "Inter", sans-serif;
  letter-spacing: 0.11px;
  color: #3c4852;
}

.header-navIcon {
  width: 20%;
  border-radius: 20px;
}

.nextPrevIcon {
  width: 2.5rem;
}
