.tabsDiv {
  box-shadow: 0px 0.5px 3px #7a7ef1b5;
  padding: 0.75rem 10vw 0;
}

.tabsDiv button {
  text-transform: capitalize !important;
  padding: 0 !important;
  margin: 0 auto !important;
  text-align: left;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Open Sans" !important;
  letter-spacing: 0px;
  color: #8b9b9f !important;
}

.tabsDiv button.Mui-selected {
  color: #6e5bd8 !important;
}

.tabsDiv .MuiTabs-indicator {
  background-color: #6e5bd8 !important;
}

.tnc_heading {
  text-align: center;
  font-size: 2rem;
  margin: 0 0 3rem;
  font-weight: 900;
  font-family: "Inter", sans-serif;
  letter-spacing: 0px;
  color: #0c2a4a;
}

.tnc_mainDiv {
  margin: 0 13vw;
}

.tnc_content {
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  letter-spacing: 0px;
  line-height: 1.75rem;
  color: #0c2a4a;
}

.tnc_sub-heading {
  text-align: left;
  font-size: 2rem;
  margin: 3rem 0 1.5rem;
  font-weight: 900;
  font-family: "Inter", sans-serif;
  letter-spacing: 0px;
  color: #0c2a4a;
}

.footer {
  background: #0f0f0f 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 36px #00000029;
  padding: 2rem 12vw;
}

.footerDiv1 {
  display: flex;
  justify-content: space-between;
}

.footerDiv1 p {
  text-align: left;
  font: normal normal 600 1.05rem/31px "Inter", sans-serif;
  letter-spacing: 0px;
  color: #ffffffa6;
  margin-bottom: 0.5rem;
}

.footerDiv1 input {
  background: #2b292a 0% 0% no-repeat padding-box;
  border-radius: 38px;
  border: none;
  font: normal normal normal 0.75rem/22px "Inter", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  width: 30vw;
}

.footerDiv1 button {
  background: #2b292a 0% 0% no-repeat padding-box;
  border-radius: 8px;
  border: none;
  font: normal normal normal 0.85rem/22px "Inter", sans-serif;
  letter-spacing: 0px;
  color: #ffffffa6;
  text-transform: capitalize;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.footerDiv3 {
  border-top: 3px solid #2b292a;
  border-bottom: 3px solid #2b292a;
  margin-top: 2rem;
  padding: 0.5rem 0;
}

.footerDiv3 ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.footerDiv3 li {
  font: normal normal normal 0.85rem/24px "Inter", sans-serif;
  letter-spacing: 0px;
  color: #ffffffa6;
  cursor: pointer;
}

.footerDiv2 {
  display: flex;
  margin: 2rem 0;
}

.footerDiv2-sm p {
  text-align: left;
  font: normal normal 600 0.85rem/27px "Inter", sans-serif;
  letter-spacing: 0px;
  color: #ffffffa6;
  text-transform: capitalize;
}

.footerDiv2-sm ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-smIcons {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.footerDiv2-list {
  display: flex;
  justify-content: space-between;
}

.footerDiv2-list p {
  text-align: left;
  font: normal normal 400 0.9rem/27px "Inter", sans-serif;
  letter-spacing: 0px;
  color: #ffffffa6;
  text-transform: uppercase;
}

.footerDiv2-list ul {
  color: #ffffffa6;
  list-style-type: circle;
  padding: 0 0 0 1.75rem;
}

.footerDiv2-list li {
  font: normal normal 400 0.85rem/24px "Inter", sans-serif;
  letter-spacing: 0px;
  color: #ffffffa6;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  cursor: pointer;
}