.LoginLeftPannel {
  height: 89.5vh;
  background: #7966ff 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
}
.LoginRightPannel {
  height: 89.5vh;
  background: #ecf0f3 0% 0% no-repeat padding-box;
  opacity: 1;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  /* width: 0; */
}
.welcomeTitle {
  text-align: center;
  font: normal normal 750 30px/32px "Fira Sans", sans-serif;
  letter-spacing: 0.21px;
  color: #0c2a4a;
  text-transform: capitalize;
  opacity: 1;
  margin-top: 4rem;
}
.welcomeTitlesignup {
  text-align: center;
  font: normal normal 750 27px/32px "Fira Sans", sans-serif;
  color: #0c2a4a;
  text-transform: capitalize;
  opacity: 1;
  margin-top: 4vh;
  margin-bottom: 1vh;
}

.loginCard {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 24px #6189a426;
  opacity: 1;
  align-items: center;
  width: 65%;
  height: 75%;
  margin-left: 20%;
  margin-top: 5%;
  padding: 2rem 4vw;
}

.loginInput {
  background: #edf1f4 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  border: none;
  width: 100%;
  padding-left: 10px;
  /* width: 20rem; */
  height: 2rem;
  font: normal normal normal 14px/18px "Fira Sans", sans-serif;
}
.loginInput:focus {
  outline: none;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  opacity: 1;
  background: none;
}
.loginLabel {
  text-align: left;
  font: normal normal 600 14px/30px "Fira Sans", sans-serif;
  letter-spacing: 0.11px;
  color: #0c2a4a;
  opacity: 0.6;
  margin: 0;
}
.marginTop1 {
  margin-top: 1rem;
}
::placeholder {
  text-align: left;
  font: normal normal 500 12px/30px "Fira Sans", sans-serif;
  letter-spacing: 0.11px;
  color: #848a8f !important;
  opacity: 0.7;
}
.loginImg {
  width: 551px;
  height: 472px;
  margin-top: 10%;
  margin-left: 15%;
}
.rememberCheckbox {
  width: 16px;
  height: 16px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #6e5bd8;
  border-radius: 5px;
  opacity: 1;
  margin-top: 2px;
  margin-right: 5px;
}
.rememberPass {
  text-align: left;
  font: normal normal 600 12px/17px "Fira Sans", sans-serif;
  letter-spacing: 0.09px;
  color: #0c2a4a;
  opacity: 0.6;
  margin: 0;
  text-align: right;
  cursor: pointer;
}
.forgetPass {
  text-align: left;
  font: normal normal 600 12px/17px "Fira Sans", sans-serif;
  letter-spacing: 0.09px;
  color: #6e5bd8;
  opacity: 1;
  margin: 0;
  text-align: right;
  cursor: pointer;
}
.loginBtn {
  width: 100%;
  background: #6e5bd8 0% 0% no-repeat padding-box;
  border-radius: 8px;
  text-align: center;
  font: normal normal normal 15px/22px "Fira Sans", sans-serif;
  letter-spacing: 0.13px;
  height: 2.5rem;
  color: white;
  margin-top: 2rem;
  border: none;
}
.signUpBtn {
  width: 100%;
  background: #6e5bd8 0% 0% no-repeat padding-box;
  border-radius: 8px;
  text-align: center;
  font: normal normal normal 15px/22px "Fira Sans", sans-serif;
  letter-spacing: 0.13px;
  height: 2.5rem;
  color: white;
  margin-top: 1rem;
  border: none;
}
.noAccount {
  text-align: left;
  font: normal normal 600 14px/19px "Fira Sans", sans-serif;
  letter-spacing: 0.1px;
  color: #9d9d9d;
  margin-top: 0.5rem;
}
.loginSignUp {
  text-align: left;
  font: normal normal bold 14px/19px "Fira Sans", sans-serif;
  text-decoration: underline;
  letter-spacing: 0.1px;
  color: #6e5bd8;
  cursor: pointer;
  margin-left: 5px;
}
.orSignUpWith {
  text-align: center;
  font: normal normal 600 13px/18px "Fira Sans", sans-serif;
  letter-spacing: 0.1px;
  /* margin: 2rem 0; */
  margin-top: 1rem;
  color: #92969a;
  opacity: 1;
}
.mediaIcon {
  width: 44px;
  height: 44px;
  box-shadow: 0px 0px 3px #00000029;
  border-radius: 50%;
  padding: 0.4rem;
}

.signupCard {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 24px #6189a426;
  opacity: 1;
  align-items: center;
  width: 40%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 55%;
  padding: 0rem 4vw;
  border-radius: 10px;
}
.signupLogo {
  width: 130px;
  height: 115px;
  opacity: 1;
}
.signupName {
  width: 300px;
  height: 200px;
  opacity: 1;
}
.signupLeftPannel {
  opacity: 1;
  align-items: center;
  width: 35%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 10%;
}

.exploreNew {
  text-align: center;
  font: normal normal 300 20px/35px "Fira Sans", sans-serif;
  letter-spacing: 0.17px;
  color: #92969a;
  opacity: 1;
}
.signUpLabel {
  text-align: left;
  font: normal normal 600 14px/30px "Fira Sans", sans-serif;
  letter-spacing: 0.11px;
  color: #0c2a4a;
  opacity: 0.6;
  margin: 0;
  margin-left: 5px;
}
.nameInput {
  width: 100%;
  height: 2rem;
  background: #edf1f4 0% 0% no-repeat padding-box;
  border-radius: 8px;
  border: none;
  padding: 0 10px 5px;
}
.nameInput:focus {
  outline: none;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  background: none;
}

.FullInput {
  width: 100%;
  height: 2rem;
  background: #edf1f4 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  border: none;
  padding-left: 10px;
}
.FullInput:focus {
  outline: none;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  opacity: 1;
  background: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
