.verifyIdentity {
  text-align: left;
  font: normal normal 600 18px/26px "Fira Sans", sans-serif;
  letter-spacing: 0.16px;
  color: #787878;
  opacity: 1;
  margin-bottom: 0.5vh;
  margin-top: 8vh;
}

.otpsent {
  text-align: left;
  font: normal normal normal 16px/25px "Fira Sans", sans-serif;
  letter-spacing: 0.13px;
  color: #92969a;
  opacity: 1;
  margin-bottom: 3rem;
}

.bgWhite {
  background: white;
  box-shadow: 0px 3px 6px 0px #cacaca;
}

.title {
  font-weight: 600;
  margin-top: 20px;
  font-size: 24px;
}

.noOtp {
  text-align: left;
  font: normal normal normal 13px/18px "Fira Sans", sans-serif;
  letter-spacing: 0.1px;
  color: #9d9d9d;
  margin-top: 0.5rem;
  float: right;
  margin-right: auto;
}

.resend {
  text-align: left;
  font: normal normal bold 13px/18px "Fira Sans", sans-serif;
  letter-spacing: 0.1px;
  color: #6e5bd8;
  cursor: pointer;
  margin-left: 5px;
}

.agreeCheckbox {
  width: 16px;
  height: 16px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #6e5bd8;
  border-radius: 5px;
  opacity: 1;
  margin-right: 5px;
  margin-top: 7px;
}
.linkLabel {
  text-align: left;
  font: normal normal normal 12px/17px "Fira Sans", sans-serif;
  letter-spacing: 0.09px;
  color: #7966ff;
  opacity: 1;
  margin: 0;
  cursor: pointer;
}
.agreeLabel {
  text-align: left;
  font: normal normal normal 12px/17px "Fira Sans", sans-serif;
  letter-spacing: 0.09px;
  color: #8b9b9f;
  opacity: 1;
  margin: 0;
}

.skip {
  text-align: center;
  font: normal normal medium 18px/24px "Fira Sans", sans-serif;
  letter-spacing: 0.12px;
  color: #9d9d9d;
  opacity: 1;
  margin-top: 2rem;
  cursor: pointer;
}
