.ProfileLeftPannel {
  height: 99.9vh;
  background: #d5d1ee 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
}
.ProfileRightPannel {
  height: 99.9vh;
  background: #ecf0f3 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
}
.profileImg {
  height: 60vh;
  width: 40vw;
  margin-top: 10vh;
}
.profileImgCard {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 24px #6189a426;
  align-items: center;
  width: 40%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 55%;
  padding: 4rem 5rem;
  border-radius: 10px;
}
.welcome {
  text-align: center;
  font: normal normal 800 26px/32px "Fira Sans", sans-serif;
  letter-spacing: 0.18px;
  color: #0c2a4a;
  text-transform: capitalize;
  margin: 2rem 0;
}
.answerNext {
  text-align: center;
  font: normal normal normal 16px/24px "Fira Sans", sans-serif;
  letter-spacing: 0.13px;
  color: #0c2a4a;
  margin: 0.5rem 2.5vw;
}

.profileContinueBtn {
  background: #6e5bd8 0% 0% no-repeat padding-box;
  border-radius: 32px;
  text-align: center;
  font: normal normal normal 16px/24px "Fira Sans", sans-serif;
  letter-spacing: 0.13px;
  width: 70%;
  height: 2.5rem;
  color: white;
  margin-top: 2rem;
  border: none;
}

.genderCard {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 24px #6189a426;
  opacity: 1;
  align-items: center;
  width: 40%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 55%;
  padding: 4rem 2rem;
  border-radius: 10px;
}

.identify {
  text-align: center;
  font: normal normal 800 26px/30px "Fira Sans", sans-serif;
  letter-spacing: 0.18px;
  color: #0c2a4a;
  text-transform: capitalize;
  opacity: 1;
}
.genderImg {
  height: 8rem;
  width: 8rem;
  margin-right: 0rem;
  margin-top: 2rem;
}
.genderSelectedImg {
  width: 9rem;
  height: 12rem;
  margin-right: 0rem;
}
.genderContinueBtn {
  background: #6e5bd8 0% 0% no-repeat padding-box;
  border-radius: 32px;
  text-align: center;
  font: normal normal normal 15px/22px "Fira Sans", sans-serif;
  letter-spacing: 0.13px;
  width: 60%;
  height: 2.5rem;
  color: white;
  margin-top: 2rem;
  border: none;
}
.gen p {
  opacity: 0;
}
.gen:hover {
  transform: translateY(-1rem);
}
.gen:hover > p {
  opacity: 1;
}
.genText {
  width: 6rem;
  background: #9ddfd3 0% 0% no-repeat padding-box;
  border-radius: 21px;
  font: normal normal normal 13px/18px "Fira Sans", sans-serif;
  text-align: center;
  margin-left: 2rem;
  padding: 0.25rem;
  margin-top: 0.6rem;
  color: white;
}
.upload-camera {
  opacity: 0;
  bottom: 0;
  position: absolute;
  right: 35%;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
